<% include partials/header %>
  <div class="w3-container">
    <h5><b>Diagnoses</b></h5>
    <ul class="w3-ul w3-card-4 w3-white">
      <li class="w3-padding-16">
        <span class="w3-xlarge">Diabetes</span><br>
      </li>
	  <li class="w3-padding-16">
        <span class="w3-xlarge">Renal Disease</span><br>
      </li>
      <li class="w3-padding-16">
        <span class="w3-xlarge">Nephropathy</span><br>
      </li>
      <li class="w3-padding-16">
        <span class="w3-xlarge">Cerebrovascular Accident (Stroke)</span><br>
      </li>
    </ul>
  </div>
  <hr>
  
<div class="w3-container"> 
	<a href="/medications/new"><button class="w3-button w3-black" href="/medications/new">Add New Diagnosis</button></a>
</div>
  <br>
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-half">
        <h5 class="w3-bottombar w3-border-green">Contact Us</h5>
        <p>Feedback Form</p>
        <p>Numbers and Emails</p>
        <p>Centers</p>
      </div>
      <div class="w3-container w3-half">
        <h5 class="w3-bottombar w3-border-red">Company Info</h5>
        <p>Founders</p>
        <p>Employees</p>
        <p>About Us</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <p>Powered by <a href="/" target="_blank">MediHub</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>
<% include partials/footer %>