<% include partials/header %>

<div class="w3-panel">
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-third"> 
            <h5><b>Grandpa's Location</b></h5>
            <img src="https://i.ibb.co/XStgKp6/Location.png" style="width:80%">
            <h4>Sample Address</h4>
          </div>
          <div class="w3-twothird">
            <h5><b>Medication Reminders</b></h5>
            <table class="w3-table w3-striped w3-white">
              <tr>
                <td><i class="fa fa-plus-square w3-text-red w3-large"></i></td>
                <td>Metformin, 2 tablets</td>
                <td><i>Take in 20 mins</i></td>
              </tr>
              <tr>
                <td><i class="fa fa-plus-square w3-text-red w3-large"></i></td>
                <td>Glipizide, 1 tablet</td>
                <td><i>Take in 1 hr 30 mins</i></td>
              </tr>
             
            </table>
          </div>
        </div>
      </div>
      <hr>
      <br>
      <div class="w3-container w3-dark-grey w3-padding-32">
        <div class="w3-row">
          <div class="w3-container w3-half">
            <h5 class="w3-bottombar w3-border-green">Contact Us</h5>
            <p>Feedback Form</p>
            <p>Contact Us</p>
            <p>Centers</p>
          </div>
          <div class="w3-container w3-half">
            <h5 class="w3-bottombar w3-border-red">Company Info</h5>
            <p>Founders</p>
            <p>Employees</p>
            <p>About Us</p>
          </div>
        </div>
      </div>
    
      <!-- Footer -->
      <footer class="w3-container w3-padding-16 w3-light-grey">
        <p>Powered by <a href="/" target="_blank">MediHub</a></p>
      </footer>
    
      <!-- End page content -->
    </div>
    
    <script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");
    
    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");
    
    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
      } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
      }
    }
    
    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
      overlayBg.stye.display = "none";
    }
</script>
<% include partials/footer %>